/AddInterfaceOperationParameterRoutine.java
/AddOperationParameterRoutine.java
/ChangeInterfaceOperationTypeRoutine.java
/ChangeParameterDirectionRoutine.java
/ChangeParameterNameRoutine.java
/ChangeParameterTypeRoutine.java
/ChangePropertyTypeRoutine.java
/ChangeProvidedInterfaceRoutine.java
/ChangeRequiredInterfaceRoutine.java
/CreateBasicComponentRoutine.java
/CreateCollectionDataTypeRoutine.java
/CreateCompositeComponentRoutine.java
/CreateCompositeDataTypeRoutine.java
/CreateDataTypeRoutine.java
/CreateInnerDeclarationOffPropertyRoutine.java
/CreateInterfaceOperationRoutine.java
/CreateInterfaceRoutine.java
/CreatePcmComponentRoutine.java
/CreatePcmRepositoryRoutine.java
/CreatePrimitiveDataTypeRoutine.java
/CreateProvidedRoleRoutine.java
/CreateRequiredRoleRoutine.java
/DeleteDataTypeRoutine.java
/DeleteElementRoutine.java
/DeleteInnerDeclarationOfPropertyRoutine.java
/DeleteParameterRoutine.java
/RenameCollectionTypeRoutine.java
/RenameElementRoutine.java
/RenameNamedElementRoutine.java
/RoutinesFacade.java
/RoutinesFacadesProvider.java
/UnsetInterfaceOperationTypeRoutine.java
/UnsetParameterTypeRoutine.java
/UpdateMultiplicityTypeRoutine.java
