/AddDataTypeInRepositoryRoutine.java
/AddcorrespondenceAndUpdateRepositoryRoutine.java
/AddcorrespondenceToInterfaceAndUpdateRepositoryRoutine.java
/CheckSystemAndComponentRoutine.java
/ClassMappingRoutine.java
/CreateArchitecturalElementRoutine.java
/CreateBasicComponentRoutine.java
/CreateCollectionDataTypeRoutine.java
/CreateCompositeComponentRoutine.java
/CreateCompositeDataTypeRoutine.java
/CreateDataTypeRoutine.java
/CreateElementRoutine.java
/CreateJavaPackageRoutine.java
/CreateJavaSubPackagesRoutine.java
/CreateOperationProvidedRoleFromTypeReferenceRoutine.java
/CreateOperationProvidedRoleRoutine.java
/CreatePCMInterfaceRoutine.java
/CreateRepositoryRoutine.java
/CreateSystemRoutine.java
/CreatedInterfaceNotInContractsRoutine.java
/RoutinesFacade.java
/RoutinesFacadesProvider.java
