/AddCompositeDataTypeParentRoutine.java
/AddCorrespondenceForCollectionTypesRoutine.java
/AddOperationProvidedRoleInterfaceRoutine.java
/AddOperationRequiredRoleInterfaceRoutine.java
/ChangeCollectionDataTypeInnerTypeRoutine.java
/ChangeInnerDeclarationTypeRoutine.java
/ChangeParameterDirectionRoutine.java
/ChangeParameterTypeRoutine.java
/ChangeUmlOperationTypeRoutine.java
/ClearCorrespondenceForCollectionTypesRoutine.java
/CreateCompositeDataTypeRoutine.java
/CreateInnerDeclarationRoutine.java
/CreateOperationInterfaceSignatureRoutine.java
/CreateOperationSignatureParameterRoutine.java
/CreatePrimitiveDataTypeRoutine.java
/CreateProvidedRoleRoutine.java
/CreateRequiredRoleRoutine.java
/CreateUmlComponentRoutine.java
/CreateUmlInterfaceRoutine.java
/CreateUmlModelRoutine.java
/CreateUmlPropertyForDatatypeRoutine.java
/DeleteDataTypeRoutine.java
/DeleteElementRoutine.java
/DeleteInnerDeclarationRoutine.java
/DeleteProvidedRoleRoutine.java
/DeleteRequiredRoleRoutine.java
/RemoveCompositeDataTypeParentRoutine.java
/RemoveOperationSignatureParameterRoutine.java
/RenameParameterRoutine.java
/RenameUmlElementRoutine.java
/RoutinesFacade.java
/RoutinesFacadesProvider.java
/UnsetUmlOperationTypeRoutine.java
