/ReactionsExecutor.java
/UmlAttributeCreatedInClassReaction.java
/UmlAttributeCreatedInDataTypeReaction.java
/UmlAttributeCreatedInInterfaceReaction.java
/UmlAttributeDeletedFromClassReaction.java
/UmlAttributeDeletedFromDataTypeReaction.java
/UmlAttributeMadeFinalReaction.java
/UmlAttributeRenamedReaction.java
/UmlAttributeTypeChangedReaction.java
/UmlInterfaceMadeFinalReaction.java
/UmlLowerMultiplicityChangedReaction.java
/UmlToJavaAttributeChangePropagationSpecification.java
/UmlUpperMultiplicityChangedReaction.java
