/ChangeJavaImplementedInterfaceRoutine.java
/ChangeJavaSuperClassRoutine.java
/ChangeJavaSuperInterfaceRoutine.java
/ChangePackageOfJavaCompilationUnitRoutine.java
/CheckIfCorrespondingJavaPrimitiveTypeExistsRoutine.java
/CreateJavaClassRoutine.java
/CreateJavaCompilationUnitRoutine.java
/CreateJavaEnumConstantRoutine.java
/CreateJavaEnumRoutine.java
/CreateJavaInterfaceRoutine.java
/CreateJavaPackageRoutine.java
/DeleteJavaClassRoutine.java
/DeleteJavaEnumConstantRoutine.java
/DeleteJavaImplementedInterfaceRoutine.java
/DeleteJavaPackageRoutine.java
/DeleteJavaSuperClassRoutine.java
/DeleteJavaSuperInterfaceRoutine.java
/RenameJavaClassifierRoutine.java
/RenameJavaPackageRoutine.java
/RoutinesFacade.java
/RoutinesFacadesProvider.java
/SetJavaClassAbstractRoutine.java
/SetJavaClassFinalRoutine.java
