/AddedConnectorReaction.java
/AddedProvidedDelegationConnectorReaction.java
/ChangeOperationRequiredRoleEntityReaction.java
/Pcm2depInjectJavaChangePropagationSpecification.java
/ReactionsExecutor.java
