/JavaAttributeCreatedInClassReaction.java
/JavaAttributeCreatedInEnumReaction.java
/JavaAttributeCreatedInInterfaceReaction.java
/JavaAttributeMadeFinalReaction.java
/JavaAttributeMadeNonFinalReaction.java
/JavaAttributeTypeChangedReaction.java
/JavaToUmlAttributeChangePropagationSpecification.java
/ReactionsExecutor.java
