/AddedAssemblyContextToComposedStructureReaction.java
/ChangedSystemNameReaction.java
/CreatedComponentReaction.java
/CreatedRequiredRoleReaction.java
/CreatedSystemReaction.java
/DeletedProvidedRoleFromSystemReaction.java
/DeletedRequiredRoleReaction.java
/DeletedSystemReaction.java
/RenameOperationSignatureReaction.java
/RenamedInterfaceReaction.java
