/AddedDataTypeOperationReaction.java
/AddedDataTypePropertyReaction.java
/AddedProvidedRoleReaction.java
/AddedRequiredRoleReaction.java
/ChangedDataTypeOperationReaction.java
/ChangedDataTypePropertyReaction.java
/Comp2classChangePropagationSpecification.java
/CreatedCompModelReaction.java
/CreatedDatatypeReaction.java
/CreatedUmlComponentReaction.java
/DeletedCompReaction.java
/ElementVisibilityChangedReaction.java
/ReactionsExecutor.java
/RemovedInterfaceRealizationReaction.java
/RemovedUsageReaction.java
/RenameComponentReaction.java
/RenamedComponentModelReaction.java
/RenamedElementReaction.java
