/AddClassDataTypePropertyRoutine.java
/AddClassInterfaceRealizationToClassRoutine.java
/AddDataTypeOperationRoutine.java
/ChangeClassDataTypeOperationRoutine.java
/ChangeClassDataTypePropertyRoutine.java
/ChangeCorrespondingVisibilityRoutine.java
/CreateClassForDataTypeRoutine.java
/CreateClassInterfaceRealizationRoutine.java
/CreateClassInterfaceRoutine.java
/CreateClassModelRoutine.java
/CreateClassWithPackageRoutine.java
/CreateDataTypeForDataTypeRoutine.java
/CreateDataTypePackageRoutine.java
/CreateDataTypeSelfCorrespondenceRoutine.java
/CreateModelSelfCorrespondenceRoutine.java
/DeleteClassRoutine.java
/RemoveInterfaceRealizationForInterfaceRealizationRoutine.java
/RemoveInterfaceRealizationForUsageRoutine.java
/RenameClassAndPackageRoutine.java
/RenameClassModelForComponentModelRoutine.java
/RenameElementRoutine.java
/RoutinesFacade.java
/RoutinesFacadesProvider.java
