/AddDataTypeOperationRoutine.java
/AddDataTypePropertyRoutine.java
/AssignNewPackageRoutine.java
/ChangeCorrespondingVisibilityRoutine.java
/ChangeDataTypeAttributeTypeRoutine.java
/ChangeDataTypeOperationRoutine.java
/ChangeDataTypePropertyRoutine.java
/CreateCompInterfaceRoutine.java
/CreateComponentModelRoutine.java
/CreateDataTypeForClassRoutine.java
/CreateDataTypeRoutine.java
/CreateDataTypeSelfCorrespondenceRoutine.java
/CreateInterfaceRealizationRoutine.java
/CreateModelSelfCorrespondenceRoutine.java
/CreatePrimitiveDataTypeRoutine.java
/CreatePrimitiveDataTypeSelfCorrespondenceRoutine.java
/CreateProvidedRoleRoutine.java
/CreateRequiredAndProvidedRoleRoutine.java
/CreateRequiredRoleRoutine.java
/CreateUmlComponentForClassRoutine.java
/CreateUsageRoutine.java
/CreatedPackageRoutine.java
/DeleteCompDataTypeOperationRoutine.java
/DeleteCompDataTypePropertyRoutine.java
/DeleteComponentRoutine.java
/MovedClassToDifferentPackageRoutine.java
/RemoveCorrespondenceRoutine.java
/RemoveInterfaceRealizationRoutine.java
/RemoveInterfaceRoutine.java
/RemoveUsageRoutine.java
/RenameComponentModelForClassModelRoutine.java
/RenameComponentRoutine.java
/RenameElementRoutine.java
/RoutineCreatedUmlClassRoutine.java
/RoutinePackageDeletedRoutine.java
/RoutinePackageRenamedRoutine.java
/RoutinesFacade.java
/RoutinesFacadesProvider.java
