/AddUmlClassImplementRoutine.java
/AddUmlElementToModelOrPackageRoutine.java
/AddUmlElementToPackageRoutine.java
/AddUmlPackageOfClassRoutine.java
/AddUmlSuperClassRoutine.java
/AddUmlSuperinterfacesRoutine.java
/ClearUmlSuperClassifiersRoutine.java
/CreateUmlClassRoutine.java
/CreateUmlEnumLiteralRoutine.java
/CreateUmlEnumRoutine.java
/CreateUmlInterfaceRoutine.java
/CreateUmlPackageRoutine.java
/DeleteUmlClassifierRoutine.java
/DeleteUmlEnumLiteralRoutine.java
/DeleteUmlPackageRoutine.java
/RemoveUmlClassImplementRoutine.java
/RemoveUmlPackageOfClassRoutine.java
/RemoveUmlSuperInterfaceRoutine.java
/RoutinesFacade.java
/RoutinesFacadesProvider.java
/SetUmlClassAbstractRoutine.java
/SetUmlClassFinalRoutine.java
